:root{
  /* General variables */
  --primary-color:#8a0000;
  --white: #f2f2f2;

  /* Border shadow variables */
  --offset-x: 0px;
  --offset-y: 0px;
  --blur-radius: 0px;
  --spread-radius: 0px;

  --red: 0;
  --green: 0;
  --blue: 0;
  --opacity: 0.75;

  --shadow-color: #000000;
  --background-color: #f2f2f2;
  --border-shadow-box-color:#8a0000;

  /* Border radius variables */
  --all-corners: 10px;

  --top-left: 10px;
  --top-right: 10px;
  --bottom-left: 10px;
  --bottom-right: 10px;

  --border-width: 0px;

  --border-color: #000000;
  --border-radius-box-color:#8a0000;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;    
}

body {
  background: var(--white);
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  width: 85vw;
  height: 100vh;
  margin: auto;
}

/* NAVIGATION */
.navigation {
  height: 13vh;
  margin-top: 8vh;
  display: flex;
  grid-gap: 1vh;
  justify-content: center;
  align-items: center;
}

.main-btn {
  width: 12vw;
  height: 5vh;
  background: var(--primary-color);
  color: var(--white);
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}

.main-btn:hover {
  cursor: pointer;
}

/* BORDER SHADOW CONTENT */
.border-shadow-content {
  height: 60vh;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  font-size: .9rem;
}

/* BORDER RADIUS CONTENT */
.border-radius-content {
  height: 60vh;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  font-size: .9rem;
}

/* VARIABLES */
.variables h2 {
  font-size: .9rem;
  font-weight: bold;
  color: var(--primary-color);
}

.line {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  font-weight: bold;
  white-space: nowrap;
}

.color-inputs {
  display: flex;
  grid-gap: 5px;
}

.textbox {
  max-width: 60px;
}

.slider {
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-appearance: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: .8;
}

.slider::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  background: var(--primary-color);
  cursor: pointer;
}

/* BIG BOX */
.box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  margin: 0 1rem 0 1rem;
}

.box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  margin: 0 1rem 0 1rem;
}

#big-box {
  height: 55vh;
  width: 55vh;
  background: var(--border-shadow-box-color);
  box-shadow: var(--offset-x) var(--offset-y) var(--blur-radius) var(--spread-radius) rgba(var(--red), var(--green), var(--blue), var(--opacity));
}

#big-box-2 {
  height: 55vh;
  width: 55vh;
  background: var(--border-radius-box-color);
  border-radius: var(--top-left) var(--top-right) var(--bottom-right) var(--bottom-left);
  border: var(--border-width) solid var(--border-color);
}

/* OUTPUT */
.output {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.output h2 {
  font-size: .9rem;
  font-weight: bold;
  color: var(--primary-color);
}

#copy-btn {
  width: 12vw;
  height: 5vh;
  background: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

#copy-btn2 {
  width: 12vw;
  height: 5vh;
  background: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

/* FOOTER */
.footer {
  height: 20vh;
}

/* HIDDEN */
.hidden {
  opacity: 0;
}

/* HIDE */
.hide {
  display: none;
}