:root{
  --green:#007000;
  --white: #f2f2f2;

}

html {
  scroll-behavior: smooth;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;    
}

body {
  background: var(--white);
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  width: 75vw;
  height: 100vh;
  margin: auto;
  
}

/* NAVIGATION */
.navigation {
  height: 20vh;
  
  display: flex;
  grid-gap: 1vh;
  justify-content: center;
  align-items: center;
}

.main-btn {
  width: 12vw;
  height: 5vh;
  
  border: none;
  border-radius: 5px;
  background: var(--green);
  color: var(--white);

  font-size: 1.2rem;
  
  
}

.main-btn:hover {
  cursor: pointer;
}

/* MAIN CONTENT */
.main-content {
  height: 60vh;
  
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  font-size: 1rem;
}

/* VARIABLES */
.variables {
  
}

.variables h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--green);

}

.line {
  display: flex;
  justify-content: space-between;
  color: var(--green);
  font-weight: bold;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--green);
  cursor: pointer;
}

/* BIG BOX */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

#big-box {
  height: 55vh;
  width: 55vh;
  background: var(--green);
  box-shadow: ;
  
}

/* OUTPUT */
.output {
  align-items: right;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.output h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--green);
}

.copy-btn {
  width: 12vw;
  height: 5vh;
  
  border: none;
  border-radius: 5px;
  background: var(--green);
  color: var(--white);

  font-size: 1.2rem;
}

/* FOOTER */
.footer {
  height: 20vh;
  
}


